 /*CAMBIO TAMAÑO DE LOGO*/
 nav img {
    height: 30px;
}
/*SEPARACIÓN ÍCONOS NAV*/
nav {
    display: flex;
    justify-content: space-around;
    background-color: #F5EA7E;
    height: 100px;
}

/*CARACTERÍSTICAS PADRE*/
.padre {
    display: flex;
}
 
/*ocupación de productos en body*/
.products {
    width: 90%;
}

/*MODIFICA POSICIÓN DE LAS IMÁGENES DEL CARRUSEL*/
.carousel-item img {
    vertical-align: middle;
    border-style: inset;
    height: 161.33px;
    border-style: inset;
    margin: 25px;
}




/* CARACTERÍSTICAS DEL FOOTER*/
footer {   /* CAJÓN INFERIOR*/
    display: flex;
    justify-content: space-around;
    background-color: #428CB5;
    height:150px;
}
/* TITULO POLITICS*/
div#politics {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    color: #FFFFFF;
}

div#contact {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    color: #FFFFFF;
}


div#questions {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}
/* TEXTOS DEBAJO DE TÍTULOS*/
div { 
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 5px;
    color: #FFFFFF;
}

div#redes {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bolder;
    font-size: 13px;
    line-height: 5px;
    color: #FFFFFF;
}

.fa{
    color: black;
}

.card-title {
    margin-bottom: .75rem;
    color: black;
}

.card-text:last-child {
    margin-bottom: 0;
    color: black;
}

img#img {
    HEIGHT: 200PX;
}


/*NUEVAS CONTENDORES*/
 /*CAJA DE CATEGORÍAS*/
div#categories{
    width: 193.46px;
    height: 579.65px;
    background-color: #A1D9E0;
    position: absolute; 
    left: 3px;
    top: 306.03px;
}

/*COLOR Y FUENTE DE CATEGORÍAS*/

/*TITULO CATEGORÍAS*/
label#categorías {
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center; /*NO ME QUIERE CENTRAR*/
    color: black;
}

/*SUBTITULO DE PRODUCTOS*/
a.cateProductos {
    color: #8E8686;
    font-family: poppins; /*NO RECONOCE LA FUENTE*/
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-align: right; /*NO SE QUIERE CORRER EL TEXTO PARA QUE NO QUEDE A LA DERECHA*/
}

/*CONTENEDORES*/ 
.contenedor{
    width: 282.65px;
    height: 283.84px;
    background-color: #DCD8B3;
    position: absolute; 
    left: 210.79px;
    top: 306.06px;
    border-radius: 16px;
    float: left;
    align-items: center;
    margin: 10px; /*----------------> esto fue lo que le puse a las cajas de productos para que se separaran */
    float: left;
}

/*CAMBIO DE LETRAS DE TÍTULOS*/ 
div {
    font-family: cursive;
    line-height: 5px;

}






/*titulo dentro de contenedor*/
.card-title {
    margin-bottom: .75rem;
    color: black;
    Weight: 300;
    Style: italic;
    Size: 18px;
    height: 20px;
}

.card-text {
    margin-bottom: 0;
    color: black;
    Weight: 500px;
    Style: italic;
    Size: 18px;
    height: 20px;
}





/*.carousel-item {
    position:relative;
    display: none;
    float: revert;
    width: 300px;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .10s ease-in-out;
    transition: transform .10s ease-in-out;
    transition: transform .10s ease-in-out,-webkit-transform .6s ease-in-out;
}
/*position: relative;
display: none;
float: left;
width: 100%;
margin-right: -100%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
transition: -webkit-transform .6s ease-in-out;
transition: transform .6s ease-in-out;
transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;*/