{% extends 'template.html' %}

{% block main %}

<div class="main">
    <div class="padre">
<!--CONTENEDOR CATEGORÍAS-->
        <div id= "categories">
          <div class="filtro">
           <h4 class="TituloCategorias text-center"></h4>
           <label id= "categorías">Categorías</label> 
          <br> 
            <a class="cateProductos" href="#">Electrodomésticos</a><br>
            <a class="cateProductos" href="#">Electrónicos</a><br>
            <a class="cateProductos" href="#">Camping</a><br>
            <a class="cateProductos" href="#">Juguetes</a><br>
            <a class="cateProductos" href="#">Deportes</a><br>
            <a class="cateProductos" href="#">Zapatos</a><br>
            <a class="cateProductos" href="#">Autos</a><br> 
            <a class="cateProductos" href="#">Ropa</a><br>
            <a class="cateProductos" href="#">hogar</a>
          </div>
        </div>
      </div>

      <div class="container_card">

<!-- CONTENEDOR DE AUDIFONOS -->
        <div class="contenedor"> 
            <div class= "ImagenProducto">
             <a href="/producto"><img src="{{url_for('static', filename='img/audifonos.jpg')}}" ></a>
            </div>
              <div class="card-body">
              <div class="productoTitulo">
                <h5 class="card-title">Audifonos Gamer</h5>
                <p class="card-text">$50.000</p>
              </div>

              <div class="entradasContenedor">
                <div class="info">
                  <a href="#" class="card-link">Ver Más</a>
                </div>
                <div class="link-icon"> 
                  <a href="#" class="card-link"><i class="far fa-heart"></i></a>
                  <a href="#" class="card-link"><i class="fas fa-cart-plus"></i></a>
                </div>
              </div>
              </div>
        </div>

<!-- CONTENEDOR DE HORNO -->
        <div class="contenedor"> 
          <div class= "ImagenProducto">
            <img src=" {{url_for('static', filename='img/micro.jpg ')}}" >
          </div>
            <div class="card-body">
            <div class="productoTitulo">
              <h5 class="card-title">Horno Microondas</h5>
              <p class="card-text">$500.000</p>
            </div>

            <div class="entradasContenedor">
              <div class="info">
                <a href="#" class="card-link">Ver Más</a>
              </div>
              <div class="link-icon"> 
                <a href="#" class="card-link"><i class="far fa-heart"></i></a>
                <a href="#" class="card-link"><i class="fas fa-cart-plus"></i></a>
              </div>
            </div>
            </div>
      </div>

<!-- CONTENEDOR DE BOXEO -->
      <div class="contenedor"> 
        <div class= "ImagenProducto">
          <img src=" {{url_for('static', filename='img/boxeo.jpg')}}" >
        </div>
          <div class="card-body">
          <div class="productoTitulo">
            <h5 class="card-title">Saco de Boxeo</h5>
            <p class="card-text">$90.000</p>
          </div>

          <div class="entradasContenedor">
            <div class="info">
              <a href="#" class="card-link">Ver Más</a>
            </div>
            <div class="link-icon"> 
              <a href="#" class="card-link"><i class="far fa-heart"></i></a>
              <a href="#" class="card-link"><i class="fas fa-cart-plus"></i></a>
            </div>
          </div>
          </div>
    </div>

<!-- CONTENEDOR DE BICICLETA-->
    <div class="contenedor"> 
      <div class= "ImagenProducto">
        <img src=" {{url_for('static', filename='img/bici.jpg')}}" >
      </div>
        <div class="card-body">
        <div class="productoTitulo">
          <h5 class="card-title">Bicicleta Todo Terreno</h5>
          <p class="card-text">$900.000</p>
        </div>

        <div class="entradasContenedor">
          <div class="info">
            <a href="#" class="card-link">Ver Más</a>
          </div>
          <div class="link-icon"> 
            <a href="#" class="card-link"><i class="far fa-heart"></i></a>
            <a href="#" class="card-link"><i class="fas fa-cart-plus"></i></a>
          </div>
        </div>
        </div>
  </div>

<!-- CONTENEDOR DE CUCHILLOS-->

  <div class="contenedor"> 
    <div class= "ImagenProducto">
      <img src="  {{url_for('static', filename='img/5. cuchillos.jpg')}}" >
    </div>
      <div class="card-body">
      <div class="productoTitulo">
        <h5 class="card-title">Set de Cuchillos</h5>
        <p class="card-text">$150.000</p>
      </div>
      <div class="entradasContenedor">
        <div class="info">
          <a href="#" class="card-link">Ver Más</a>
        </div>
        <div class="link-icon"> 
          <a href="#" class="card-link"><i class="far fa-heart"></i></a>
          <a href="#" class="card-link"><i class="fas fa-cart-plus"></i></a>
        </div>
      </div>
      </div>
      </div>

<!-- CONTENEDOR DE TERMOS-->
      <div class="contenedor"> 
        <div class= "ImagenProducto">
          <img src=" {{url_for('static', filename='img/6. termos.jpg ')}}" >
        </div>
          <div class="card-body">
          <div class="productoTitulo">
            <h5 class="card-title">Juego de termos</h5>
            <p class="card-text">$60.000</p>
          </div>

          <div class="entradasContenedor">
            <div class="info">
              <a href="#" class="card-link">Ver Más</a>
            </div>
            <div class="link-icon"> 
              <a href="#" class="card-link"><i class="far fa-heart"></i></a>
              <a href="#" class="card-link"><i class="fas fa-cart-plus"></i></a>
            </div>
          </div>
          </div>
      </div>

<!-- CONTENEDOR DE CELULAR-->
      <div class="contenedor"> 
        <div class= "ImagenProducto">
          <img src=" {{url_for('static', filename='img/xiaomi.jpg')}}" >
        </div>
          <div class="card-body">
          <div class="productoTitulo">
            <h5 class="card-title">Xiaomi Redminote</h5>
            <p class="card-text">$700.000</p>
          </div>

          <div class="entradasContenedor">
            <div class="info">
              <a href="#" class="card-link">Ver Más</a>
            </div>
            <div class="link-icon"> 
              <a href="#" class="card-link"><i class="far fa-heart"></i></a>
              <a href="#" class="card-link"><i class="fas fa-cart-plus"></i></a>
            </div>
          </div>
          </div>
      </div>

<!-- CONTENEDOR DE TERMO DEPORTIVO-->
      <div class="contenedor"> 
        <div class= "ImagenProducto">
          <img src="  {{url_for('static', filename='img/8. termodepor.jpg')}}" >
        </div>
          <div class="card-body">
          <div class="productoTitulo">
            <h5 class="card-title">Termo Deportivo</h5>
            <p class="card-text">$35.000</p>
          </div>

          <div class="entradasContenedor">
            <div class="info">
              <a href="#" class="card-link">Ver Más</a>
            </div>
            <div class="link-icon"> 
              <a href="#" class="card-link"><i class="far fa-heart"></i></a>
              <a href="#" class="card-link"><i class="fas fa-cart-plus"></i></a>
            </div>
          </div>
          </div>
      </div>
      </div>
</div>

{% endblock %}