<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DETALLE DEL PRODUCTO</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}
    > <!--ruta de la carpeta estilos-->
    <script src={{ url_for('static', filename='js/script.js') }}></script>
</head>
<body>
    <header>
        <div class="encabezado">
            <div class="presentacion">
                <div class="logo">
                    <img src="static/assets/logofinal.jpg" alt="Logo">
                </div>
                <div class="field" id="formulariodebusqueda">
                    <input type="text" id="searchterm" placeholder="¿Que Producto estas buscando?" />
                    <button type="button" id="search">Buscar</button>
                  </div>
                  <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
                <div class="IncioyRegistro">
                    <p> <span><strong>Incio</strong>  </span><strong>Registrarte</strong></p>
                </div>                   
    </header>
        <section>
            <section>
                <article>
                    <div class="detalle">
                        <div class="descripcionbreve">
                            <p>Audifonos Gamer Con Luces RGB,</p>
                            <p> Jack 3.0. Puerto USB 55Mm, Dolby Atmon 7.0</p>
                            <h1>$200.000</h1>
                            <h2>Envio Gratis!!</h2>
                            <h6>Calificar Producto</h6>
                            <h3>Color: Negro</h3>
                            <h3>Stock: Disponible</h3>
                            <h3>Cantidad: 1 (100 Disponibles)</h3>
                        </div>
                        <div>
                        <input type="submit" value="Comprar">
                        </div>
                        <div>
                        <input type="submit" value="Agregar al Carrito">
                        </div>
                </article>
        </section>
        <section>
            <div class="DescripcionProducto">
                <h1> Descripcion del Producto</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p> 
        </section>
        <footer>
            <p>
                Plataforma Equipo3.Grupo 39 
            </p>
        </footer>
    </body>
</html>