{% extends 'template.html' %}

{% block head %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/busqueda.css')}} ">
{% endblock %}

{% block main %}

<section class="main">
    <aside >
        <div class="menu">
            <div class="usuario">
                <img src="{{ url_for('static', filename='imagenes/imagenesdashboard/user-solid.svg')}}">
                <h3>Nombre de usuario</h3>
            </div>
            <div class="boton">
                <a href="">
                    <i class="fas fa-users-cog"></i>
                    Configuración
                </a>
                
            </div>
        </div>
    </aside>
   
</section>

<h1>{{ mensaje }}</h1>
  <!-- tabla de administracion de productos -->
   <div class="container-table">
    <table class="table">
        <thead>
            <div class="head-table">
                <h2>administracion de productos</h2>
                <a href="" class="btn"><i class="fas fa-plus"></i>  Agregar productos</a>
            </div>
        </thead>
        <tbody class="table-body">
            <tr class="datos">
                <th>imagen</th>
                <th>id_producto</th>
                <th>Descripcion</th>
                <th>Disponibilidad</th>
                <th>Precio</th>
                <th>acciones</th>
            </tr>
            <tr>
                <th>
                    <div class="img_product">
                        <p>Imgane del producto</p>
                    </div>
                </th>

                <th>Codigo del producto</th>

                <th>
                    Descripcion del producto
                </th>
                <th>Disponible</th>
                <th>$$ precio</th>
                <th class="iconos">
                    <a href=""><i class="fas fa-edit"></i></a>
                    <a href=""><i class="fas fa-trash"></i></a>
                </th>
            </tr>

            <tr>
                <th>
                    <div class="img_product">
                        <p>Imgane del producto</p>
                    </div>
                </th>

                <th>Codigo del producto</th>

                <th>
                    Descripcion del producto
                </th>
                <th>Disponible</th>
                <th>$$ precio</th>
                <th class="iconos">
                    <a href=""><i class="fas fa-edit"></i></a>
                    <a href=""><i class="fas fa-trash"></i></a>
                </th>
            </tr>

            <tr>
                <th>
                    <div class="img_product">
                        <p>Imgane del producto</p>
                    </div>
                </th>

                <th>Codigo del producto</th>

                <th>
                    Descripcion del producto
                </th>
                <th>Disponible</th>
                <th>$$ precio</th>
                <th class="iconos">
                    <a href=""><i class="fas fa-edit"></i></a>
                    <a href=""><i class="fas fa-trash"></i></a>
                </th>
            </tr>

            <tr>
                <th>
                    <div class="img_product">
                        <p>Imgane del producto</p>
                    </div>
                </th>

                <th>Codigo del producto</th>

                <th>
                    Descripcion del producto
                </th>
                <th>Disponible</th>
                <th>$$ precio</th>
                <th class="iconos">
                    <a href=""><i class="fas fa-edit"></i></a>
                    <a href=""><i class="fas fa-trash"></i></a>
                </th>
            </tr>

            <tr>
                <th>
                    <div class="img_product">
                        <p>Imgane del producto</p>
                    </div>
                </th>

                <th>Codigo del producto</th>

                <th>
                    Descripcion del producto
                </th>
                <th>Disponible</th>
                <th>$$ precio</th>
                <th class="iconos">
                    <a href=""><i class="fas fa-edit"></i></a>
                    <a href=""><i class="fas fa-trash"></i></a>
                </th>
            </tr>


            <tr>
                <th>
                    <div class="img_product">
                        <p>Imgane del producto</p>
                    </div>
                </th>

                <th>Codigo del producto</th>

                <th>
                    Descripcion del producto
                </th>
                <th>Disponible</th>
                <th>$$ precio</th>
                <th class="iconos">
                    <a href=""><i class="fas fa-edit"></i></a>
                    <a href=""><i class="fas fa-trash"></i></a>
                </th>
            </tr>
        </tbody>
    </table>
    </div>
{% endblock %}

{% block footer %}
{{ super() }}
<script src=" {{ url_for('static', filename='js/jquery-3.6.0.js')}}"></script>
<script src="{{ url_for('static', filename='js/busqueda.js')}}"></script>
{% endblock %}